DB_URL=jdbc:postgresql://localhost:5432/prode_db
DB_USERNAME=postgres
DB_PASSWORD=CAMBIAR_POR_TU_PASSWORD_DE_POSTGRES

JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_SECRETA_LARGA_DE_AL_MENOS_32_CARACTERES
JWT_EXPIRATION_MS=86400000

APP_ADMIN_USERNAME=admin
APP_ADMIN_EMAIL=admin@prode.local
APP_ADMIN_PASSWORD=CAMBIAR_POR_UNA_PASSWORD_SEGURA
